In [1]:
import pandas as pd
import pyarrow
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_pickle("../largedata/suspended_twitter/tid_meta.pkl")
df

,id,tid,uid,lang,ts,hts,dom_short,dom,mention_uid,mention_name,reply_to_tid,reply_to_uid,reply_to_name,rtid,rt_uid,rt_name,qtid,qt_uid,qt_name
0,109579675,1314079268700254208,1031053163481026561,en,2020-10-14 07:01:51,"[Trump, RestartLeader, Trump2020, TRUMP2020ToS...",[],[],[764261361044037632],[dmills3710],<NA>,<NA>,NaN,1316272994637934592,764261361044037632,dmills3710,1315515383529574400,990354473930256384,restartleader
1,109579981,1316036925736787968,94792948,en,2020-10-14 07:01:58,[],[],[],[1174254240337977345],[HegKong],<NA>,<NA>,NaN,1316273023939477505,1174254240337977344,HegKong,<NA>,<NA>,NaN
2,109583351,1315738000282746880,105481655,en,2020-10-14 07:03:15,[],[],[],[52338305],[BrandonStraka],<NA>,<NA>,NaN,1316273345113939969,52338305,BrandonStraka,<NA>,<NA>,NaN
3,236158055,1327680291180253184,1246539661306138630,fa,2020-11-14 18:35:37,[JoeTheCheater],[],[],[902829979326656513],[siamakm2000],<NA>,<NA>,NaN,1327681610792263681,902829979326656512,siamakm2000,<NA>,<NA>,NaN
4,236159344,1327679411517345792,1015908282,fr,2020-11-14 18:36:03,"[StopTheSteaI, Trump, Trump2020]",[https://t.co/W9202GFwSf],[https://twitter.com/milionmagamarch/status/13...,"[1307158239595974656, 25073877]","[gDesFaits, realDonaldTrump]",<NA>,<NA>,NaN,1327681719630237699,1307158239595974656,gDesFaits,1327680525776117760,1325639866881863680,MilionMagaMarch
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10209746,109564963,1316271584160538624,46808663,en,2020-10-14 06:56:15,"[Trump2020Landslide, VoteRedNevada, DemocratsA...",[],[],[14413466],[RalstonReports],1316196009953828864,14413466,RalstonReports,<NA>,<NA>,NaN,<NA>,<NA>,NaN
10209747,109566799,1315738000282746880,877505837371183104,en,2020-10-14 06:56:58,[],[https://t.co/AuM6iZ8pjS],[https://twitter.com/brandonstraka/status/1315...,[28734033],[Carol_Cole],<NA>,<NA>,NaN,1316271765375639552,28734033,Carol_Cole,1315837964774256640,52338305,BrandonStraka
10209748,109567998,1315738000282746880,934823707,en,2020-10-14 06:57:26,[],[],[],[823648093442899970],[SM4USA],<NA>,<NA>,NaN,1316271880064716801,823648093442899968,SM4USA,1316161068280938496,52338305,BrandonStraka
10209749,109569919,1315738000282746880,1087460540451033088,en,2020-10-14 06:58:08,"[Trump2020LandslideVictory, WalkAway]",[],[],"[1194132406762123264, 52338305]","[fla_thelma, BrandonStraka]",<NA>,<NA>,NaN,1316272059320872960,1194132406762123264,fla_thelma,1316218091739713536,52338305,BrandonStraka
10209750,109574153,1314079268700254208,1096416340498239490,en,2020-10-14 06:59:46,"[Trump, RestartLeader, Trump2020, TRUMP2020ToS...",[],[],[764261361044037632],[dmills3710],<NA>,<NA>,NaN,1316272471230672897,764261361044037632,dmills3710,1315515383529574400,990354473930256384,restartleader

In [11]:
unique_values = df["uid"].unique()
unique_values

<IntegerArray>
[1031053163481026561,            94792948,           105481655,
 1246539661306138630,          1015908282, 1267584186568904708,
 1315698446532308992,           707732605,          3325471567,
 1192440035372601344,
 ...
            27852500, 1220535047184211969, 1113864565203374081,
           703571196, 1136325890948907008,            20945710,
            64114152, 1094792125122785282,           251460828,
          2409456320]
Length: 1715006, dtype: Int64

In [13]:
unique_values_df=pd.DataFrame(unique_values,columns=["uid"])
unique_values_df

                         uid
0        1031053163481026561
1                   94792948
2                  105481655
3        1246539661306138630
4                 1015908282
...                      ...
1715001             20945710
1715002             64114152
1715003  1094792125122785282
1715004            251460828
1715005           2409456320

[1715006 rows x 1 columns]

In [14]:
unique_values_df["uid"].is_unique

True

In [18]:
unique_values_df.to_csv("../Naman/final_csv/suspended_user_ids.csv",index=False)

In [19]:
vb=pd.read_csv("../Naman/final_csv/suspended_user_ids.csv")
vb

                         uid
0        1031053163481026561
1                   94792948
2                  105481655
3        1246539661306138630
4                 1015908282
...                      ...
1715001             20945710
1715002             64114152
1715003  1094792125122785282
1715004            251460828
1715005           2409456320

[1715006 rows x 1 columns]

In [3]:
df["uid"].nunique()

1715006

In [10]:
df=pd.read_pickle("../largedata/suspended_twitter/tid_text.pkl")
df

,id,tid,uid,rtid,qtid,ts,text
0,109579675,1314079268700254208,1031053163481026561,1316272994637934592,1315515383529574400,2020-10-14 07:01:51,America Stands With All Who Are For Peace &amp...
1,109579981,1316036925736787968,94792948,1316273023939477505,<NA>,2020-10-14 07:01:58,The World is ready for the biggest revolution ...
2,109583351,1315738000282746880,105481655,1316273345113939969,<NA>,2020-10-14 07:03:15,This video is dedicated from me to the ceasele...
3,236158055,1327680291180253184,1246539661306138630,1327681610792263681,<NA>,2020-11-14 18:35:37,üî¥ÿ®ŸÜ€å ÿ¨ÿßŸÜÿ≥ŸàŸÜ ÿØÿ± Ÿàÿß⁄©ŸÜÿ¥ ÿ®Ÿá ŸÅÿ±ŸÖÿßŸÜ ŸÑÿ∫Ÿà ÿ¨ÿ¥ŸÜ ÿ¥⁄©ÿ±⁄Øÿ≤ÿßÿ±€å...
4,236159344,1327679411517345792,1015908282,1327681719630237699,1327680525776117760,2020-11-14 18:36:03,WOW ! Quand le peuple se l√®ve et demande juste...
...,...,...,...,...,...,...,...
10209746,109564963,1316271584160538624,46808663,<NA>,<NA>,2020-10-14 06:56:15,@RalstonReports It's going to be a fun event b...
10209747,109566799,1315738000282746880,877505837371183104,1316271765375639552,1315837964774256640,2020-10-14 06:56:58,Amazing video! Speechless right now. https://t...
10209748,109567998,1315738000282746880,934823707,1316271880064716801,1316161068280938496,2020-10-14 06:57:26,Crying my eyes out-All the heartbreak. the dre...
10209749,109569919,1315738000282746880,1087460540451033088,1316272059320872960,1316218091739713536,2020-10-14 06:58:08,@BrandonStraka . this is simultaneously beauti...
10209750,109574153,1314079268700254208,1096416340498239490,1316272471230672897,1315515383529574400,2020-10-14 06:59:46,America Stands With All Who Are For Peace &amp...

In [11]:
df["id"].nunique()

10209751

In [4]:
df1=pd.read_csv("../cdef/deplatform/twitter/data/suspended_uids.csv",header=None)
df1

                           0
0         898344595645382657
1        1163898989772779520
2        1313687622816919553
3        1249862282076700673
4                 1461289364
...                      ...
1715001  1113979062777782272
1715002            611207829
1715003           4841865773
1715004             96304417
1715005             56771359

[1715006 rows x 1 columns]

In [7]:
df1.columns

Int64Index([0], dtype='int64')

In [9]:
df1[0].nunique()

1715006

In [8]:
df2=pd.read_csv("../cdef/deplatform/twitter/data/uid2name.csv")
df2

             user_id        user_name
0       8.782476e+17     RealCandaceO
1       3.934437e+07   DonaldJTrumpJr
2       2.404548e+08         GenFlynn
3       1.183148e+18     Bacon_Ranch_
4       2.857781e+09    MintChipMusic
...              ...              ...
618719  8.898386e+17       Zylermusic
618720  1.288146e+18  vickiependergr4
618721  8.565486e+17         UrfeNick
618722  8.205676e+17  The_jellly_Bean
618723  1.910560e+07     wizzlesticks

[618724 rows x 2 columns]

In [9]:
df2["user_id"].nunique()

614835

# Checking stuff in folder

In [6]:
import pandas as pd
a=pd.read_csv("../Naman/final_csv/user_data_twitter.csv")
a

,id,tweet_id,user_id,user_screen_name,user_name,tweet_time,location,description,protected,verified,user_created_at,followers_count,friends_count,statuses_count,favorites_count,rn
0,200594014,1330263124721737729,41,drx,drx,2020-11-21 21:33:38,Deep in the Archives,Adept bubble burster. Good problem connoisseur...,False,False,2006-03-23 00:05:49,102,76,7517,9988,1
1,186732678,1331107649123971074,57,SarahM,Sarah Milstein,2020-11-24 05:29:28,Bklyn 75%; SF 25%,Leaderizing and manageering for @Mailchimp eng...,False,True,2006-04-01 02:05:23,18097,1536,29015,46245,1
2,152714043,1334230798036164609,224,davepell,Dave Pell,2020-12-02 20:19:45,San Francisco,"Managing Editor, Internet.",False,True,2006-05-01 22:17:42,57628,898,49056,14851,1
3,156812061,1334574567969308674,291,goldman,Jason Goldman,2020-12-03 19:05:46,Various,I like the work about the work. Places practic...,False,True,2006-05-20 19:46:03,960319,428,39889,32984,1
4,152104129,1334179632166416387,324,chrisfralic,Chris Fralic,2020-12-02 16:56:26,#BadThingsHappenInPhiladelphia,Board Partner @FirstRound. Technology historia...,False,True,2006-06-06 15:04:24,32007,6436,31070,32276,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1715001,158561819,1334721351257612289,1334714486176051200,LarraySoThicc,Maddie,2020-12-04 04:49:02,NaN,I love @larrayxo ‚ù§Ô∏è This is a Larray fan page‚ù§...,False,False,2020-12-04 04:21:58,6,39,10,6,1
1715002,158697103,1334732697512660992,1334719596956409858,LydiaFe71731620,Lydia Fernandes,2020-12-04 05:34:07,NaN,NaN,False,False,2020-12-04 04:42:23,0,13,4,7,1
1715003,158744538,1334736677856661507,1334721974610739203,JesusCh32131944,Jesus Christ,2020-12-04 05:49:56,NaN,NaN,False,False,2020-12-04 04:51:42,3,110,12,51,1
1715004,158599052,1334724472553795586,1334722394339028992,Edward18990382,Edward,2020-12-04 05:01:26,NaN,NaN,False,False,2020-12-04 04:54:26,0,0,1,0,1
1715005,158760754,1334738037188808704,1334727465734971392,PjTrump2020,PjTrump2020,2020-12-04 05:55:20,NaN,Light eliminates darkness,False,False,2020-12-04 05:13:54,0,0,6,14,1

In [ ]:
import pandas as pd
a=pd.read_csv("../Naman/user_data_twitter.csv",on_bad_lines='skip')
a